<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/12bool.css">
    <link rel="stylesheet" href="./assets/css/master.css">
    <title></title>
  </head>
  <body class="">
    <div id="root">

      <div class="sfondo">
        <div class="sfondo-up"></div>
        <div class="sfondo-down"></div>
        <div class="app">
          <div class="container-fluid">
            <div class="contatti">
              <div class="contatti-head">
                <div class="img-nome">
                  <img src="./assets/img/avatar_io.jpg" alt="">
                  <span>Alessandro</span>
                </div>
                <div class="icons">
                  <i class="fas fa-circle-notch"></i>
                  <i class="fas fa-comment-alt"></i>
                  <i class="fas fa-ellipsis-v"></i>
                </div>
              </div>
              <div class="notifiche">
                <i class="fas fa-bell-slash"></i>
                <div class="text">
                  <span>Ricevi notifiche di nuovi messaggi</span>
                  <a >Attiva le notifiche desktop</a>
                </div>
              </div>
              <div class="ricerca">
                <div class="search-input">
                  <div class="search">
                    <i class="fas fa-search"></i>
                  </div>
                  <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
              </div>
              <div class="lista">
                <ul class="lista-contatti">
                  <li  @click="select(contact)" v-for='(contact, i) in newContacts'>
                    <div :class="(i == index) ? 'active' : ''" class="contatto">
                      <img :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">
                      <div class="testo">
                        <div class="title">
                          <span class="nome">{{contact.name}}</span>
                          <span class="time">{{contact.lastTime}}</span>
                        </div>
                        <span class="last">{{contact.lastMsg}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="messaggi">
              <div  class="exchange">
                <div class="messaggio" :class="message.status" v-for="message in newContacts[index].messages">
                  <span class="text">{{message.text}}</span>
                  <span class="date">{{message.date}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


































    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="./assets/js/dati.js" charset="utf-8"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
