<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/12bool.css">
    <link rel="stylesheet" href="./assets/css/master.css">
    <title></title>
  </head>
  <body class="">
    <div id="root">

      <div class="sfondo">
        <div class="sfondo-up"></div>
        <div class="sfondo-down"></div>
        <div class="app">
          <div class="container-fluid">

            <div class="contatti" :class="contatti">

              <div class="contatti-head">
                <div class="img-nome">
                  <img src="./assets/img/avatar_io.jpg" alt="">
                  <span>Alessandro</span>
                </div>
                <div class="icons">
                  <i class="fas fa-circle-notch"></i>
                  <i class="fas fa-comment-alt"></i>
                  <i class="fas fa-ellipsis-v"></i>
                </div>
              </div>

              <div class="notifiche">
                <i class="fas fa-bell-slash"></i>
                <div class="text">
                  <span>Ricevi notifiche di nuovi messaggi</span>
                  <a >Attiva le notifiche desktop</a>
                </div>
              </div>

              <div class="ricerca">
                <div class="search-input">
                  <div class="search">
                    <i class="fas fa-search"></i>
                  </div>
                  <input v-model='searchInput' type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
              </div>

              <div class="lista">
                <ul class="lista-contatti">
                  <li v-if="contact.name.toLowerCase().includes(searchInput.toLowerCase())" @click="select(contact)" v-for='(contact, i) in contacts'>
                    <div v-if="contact.messages.length != 0" :class="(i == index) ? 'active' : ''" class="contatto">
                      <img :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">
                      <div class="testo">
                        <div class="title">
                          <span class="nome">{{contact.name}}</span>
                          <span class="time">{{getTime(contact.messages[contact.messages.length - 1].date)}}</span>
                        </div>
                        <span class="last">{{contact.messages[contact.messages.length - 1].text}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

            </div>

            <div @click="close" class="messaggi" :class='messaggi'>

              <div v-if="i == index" v-for='(contact, i) in contacts' class="intestazione">
                <i @click="back" class="fas fa-angle-double-left"></i>
                <div  class="titolo">
                  <img :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">
                  <div class="testo">
                    <span class="nome">{{contact.name}}</span>
                    <span class="last-time">Ultimo accesso: oggi alle {{getTime(contact.messages[contact.messages.length - 1].date)}}</span>
                  </div>
                </div>
                <div class="icons">
                  <i class="fas fa-search"></i>
                  <i class="fas fa-paperclip"></i>
                  <i class="fas fa-ellipsis-v"></i>
                </div>
              </div>

              <div  class="exchange">
                <div class="messaggio" :class="message.status" v-for="(message, i) in contacts[index].messages">
                  <span class="text">{{message.text}}</span>
                  <span class="date">{{getTime(message.date)}}</span>
                  <i @click="options(i)" class="fas fa-angle-down"></i>
                  <div v-show='option' v-if="i == msgIndex" class="options">
                    <span>Message info</span>
                    <span @click="remove(i)" class="del">Delete message</span>
                  </div>
                </div>
              </div>

              <div class="new-msg">
                <i class="far fa-smile"></i>
                <input v-model='input' @keyup.enter='submit' type="text" name="" value="" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="./assets/js/dati.js" charset="utf-8"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
