/* DEBUG */
.debug .app .container-fluid{
  background-color: blue;
}

/* GENERALI */
body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

ul li{
  list-style: none;
}

i{
  cursor: pointer;
}

a{
  text-decoration: underline;
  cursor: pointer;
}

/* SFONDO */
.sfondo{
  position: relative;
}

.sfondo-up{
  height: 15vh;
  width: 100vw;
  background-color: #039789;
}

.sfondo-down{
  height: 85vh;
  width: 100vw;
  background-color: #D9DCD5;
}

/* APP */
.app .container-fluid{
  height: 95vh;
  width: 85vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0;

  display: flex;
}

/* LATO CONTATTI */
.contatti{
  width: calc(100% / 3);
}

/* CONTATTI HEAD */
.contatti .contatti-head{
  background-color: #EAEAEA;
  height: 70px;
  padding: 0 5px;
  border-right: 1px solid #DCDCDC;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contatti .contatti-head .img-nome{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contatti .contatti-head .icons{
  color: #B1B1B1;
  font-size: 20px;
}

.contatti .contatti-head .icons *{
  margin: 0 5px;
}

.contatti .contatti-head img{
  width: 50px;
  border-radius: 50%;
}

.contatti .contatti-head .img-nome span{
  font-weight: bold;
}

/* NOTIFICHE */
.contatti .notifiche{
  background-color: #8EDAFC;
  padding: 5px 0;


  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contatti .notifiche *{
  margin-left: 10px;
}

.contatti .notifiche i{
  background-color: #fff;
  font-size: 25px;
  color: #8EDAFC;
  padding: 17px 15px;
  border-radius: 50%;
}

.contatti .notifiche .text{
  display: flex;
  flex-direction: column;
}

.contatti .notifiche .text a{
  color:   #71867F;

}

/* RICERCA */
.contatti .ricerca{
  background-color: #F9F9F9;
  padding: 10px;
}

.contatti .ricerca .search-input{
  border: 1px solid #ECECEC;
  background-color: #fff;
  vertical-align: middle;

  display: flex;

}

.contatti .ricerca .search-input .search{
  border-right: 1px solid #ECECEC;
  text-align: center;
  vertical-align: middle;
  width: 20%;
}

.contatti .ricerca .search-input .search i{
  font-size: 15px;
  padding: 10px 15px;

  color: #CCCFD4;

}

.contatti .ricerca .search-input input{
  border: none;
  outline: none;
  width: 100%;
  margin-left: 10px;
}

/* LISTA CONTATTI */
.contatti .lista-contatti img{
  width: 65px;
  border-radius: 50%;
}

.contatti .lista-contatti .contatto.active{
  background-color: #EAEAEA;
}

.contatti .lista-contatti .contatto{
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #EAEAEA;
  cursor: pointer;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contatti .lista-contatti .contatto:hover{
  opacity: 0.8;

}

.contatti .lista-contatti .contatto .testo{
  width: 100%;
  margin-left: 10px;

  display: flex;
  flex-direction: column;
}

.contatti .lista-contatti .title{
  width: 100%;

  display: flex;
  justify-content: space-between;

}
.contatti .lista-contatti .nome{
  font-weight: bold;
}

.contatti .lista-contatti .last,
.contatti .lista-contatti .time{
  color: #8F8DB2;
  font-size: 11px;
}

/* LATO MESSAGGI */
.messaggi{
  width: calc(100% / 3 * 2);
}

/* INTESTAZIONE MESSAGGI */
.messaggi .intestazione{
  background: #EAEAEA;
  height: 70px;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messaggi .intestazione .fa-angle-double-left{
  display: none;
}

.messaggi .intestazione .titolo{
  display: flex;
  align-items: center;
}

.messaggi .intestazione .titolo img{
  width: 50px;
  border-radius: 50%;
}

.messaggi .intestazione .titolo .testo{
  margin-left: 10px;

  display: flex;
  flex-direction: column;
}

.messaggi .intestazione .titolo .testo .nome{
  font-weight: bold;
}

.messaggi .intestazione .titolo .testo .last-time{
  color: #8F8DB2;
}

.messaggi .intestazione .icons{
  color: #B1B1B1;
  font-size: 20px;
}

.messaggi .intestazione .icons i{
  margin: 0 5px;
}

/* SCAMBIO MESSAGGI */
.messaggi .exchange{
  background: url(../img/mine.jpg) repeat;
  width: 100%;
  height: calc(100% - 140px);
  padding: 50px;
}

.messaggi .exchange .messaggio{
  width: calc(100% / 3);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messaggi .exchange .sent{
  background-color: #D5F9BB;
  margin-left: auto;
}

.messaggi .exchange .received{
  background-color: #fff;
}


.messaggi .exchange .messaggio .date{
  color: #8F8DB2;
  align-self: flex-end;
  font-size: 11px;
}

.messaggi .exchange .messaggio i{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  opacity: 0.5;
  display: none;
}

.messaggi .exchange .messaggio:hover i{
  display: block;
}

.messaggi .exchange .messaggio .options{
  position: absolute;
  background-color: #fff;
  text-align: center;
  right: -50%;
  top: 50%;
  transform: translate(-50%);
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;3
  align-items: center;
}

.messaggi .exchange .messaggio .options span{
  padding: 5px 10px;
  cursor: pointer;
}

.messaggi .exchange .messaggio .options span:hover{
  opacity: 0.5;
}

.messaggi .exchange .messaggio .options span.del{
  border-top: 1px solid #eaeaea;
}

/* NUOVO MESSAGGIO */
.messaggi .new-msg{
  height: 70px;
  background: #EAEAEA;
  padding: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.messaggi .new-msg i{
  color: #6D747A;
  font-size: 25px;
}

.messaggi .new-msg input{
  outline: none;
  border: none;
  width: 80%;
  padding: 15px 10px;
  border-radius: 8px;
}

@media all and (max-width: 767px) {

  .contatti{
    width: 100%;
    display: none;
  }

  .contatti.active{
    display: block;
  }

  .messaggi{
    display: none;
    width: 100%;
  }

  .messaggi.active{
    display: block;
  }

  .messaggi .intestazione{
    position: relative;
  }

  .messaggi .intestazione .fa-angle-double-left{
    display: inline-block;
    position: absolute;
  }

}
